$text:#161224;
$blue:#7ac0e4;

$light-red: #F9C9CC;
$red: #DD4A54;

$purple:#5e5873;
$dark-purple:#433752;
$darkest-purple:#19151F;
$yellow:#f3cc14;
$yellow2:#fde400;
$light-yellow:#fcf9e2;

$dark-text:#322d44;
$text:#413b52;
$light-text:#aaa9b1;
$lighter-text:#e0dfea;
$link:#6e5eb2;
$visited:#a399cd;
$hover:#f4cd13;

$light-bg:#e2e1e4;
$medium-bg:#c9c5cf;

$light-border:#dddce0;