.photo-layout{
	background-size: cover;
	background-attachment: fixed;
	text-align: center;
	background: $darkest-purple;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	width: 100%;
	.main{
		display: flex;
		flex: 1;
		align-items: center;
		justify-content: center;
  }	
	&, p{
		color: white;
	}
  	.main, footer{
  		z-index: 10;
  		position: relative;
  	}
  	.photo-background{
		position: fixed;
		height: 100%;
		width: 100%;
  	}
}
.form-container{
	max-width: 300px;
	@include medium{
		min-width: 300px;
	}
	margin: 0 auto;
}
.form-notice{
	border-radius: 3px;
	background: white(0.3);
	padding: 10px 20px;
	margin-bottom: $mhalf;
	line-height: 32px;
	font-size: 16px;
	a{
		color: white;
	}	
	&.form-error{
		background: rgba($red, 0.6);
	}
}

.form-area{
	// background: white(0.3);
	.button{
		width: 100%;
	}
	.control-group{
		margin-bottom: $mhalf;
	}
	.form-link{
		color: white;
		text-shadow:0px 1px 1px black(0.3);
	}
	.form-forgot{
		font-size: 13px;
		text-align: left;
		display: block;
		line-height: 1;
		padding-top: 10px;
	}
	.form-footer{
		border-top: 1px solid white(0.2);
		margin-top: 15px;
		padding-top: 15px;
		line-height: 1;
	}
	.form-divider{
		color: $light-text;
	}
	label{
		display: none;
	}
}
.form-footer{
	text-shadow:0px 1px 1px black(0.3);
	color: white(0.7);
	a{
		color: white;
	}
}
input, textarea, button{
	box-sizing: border-box;
}
.control-group{
	margin-bottom: $mbottom;
}
.text{
	width: 100%;
	border:none;
	border-radius: 3px;
	padding:10px 15px;
	margin: 0;
}
button{
	font-size: inherit;
}
.form-actions{
	text-align: center;
}
.simple-button{
	display:block;
	border-radius: 3px;
	border: none;
	background: $medium-bg;
	padding:10px 20px;
	margin:0 0 10px 0;
	cursor: pointer;
	font-weight: bold();
	color: $text;
	text-shadow: none;
	&:link, &:visited{
		color:$text;
	}
	&:hover{
		color:$hover;
		background:$dark-text;
		text-decoration: none;
	}
	&.inline-button{
		display: inline-block;
	}
}
.danger-button{
	background: $light-red;
}
.button{
	@extend .secondary-font;
	text-align:center;
	display:block;
	min-height:40px;
	background: linear-gradient(180deg, #ffde00, #edc610);
	// @include box-shadow(inset 0 1px 0px white(0.55));
	border:0;
	font-size:16px;
	padding:10px;
	cursor:pointer;
	text-shadow:0px 1px 0px white(0.6);
	// @include single-transition(all, 300ms, 0ms, ease-out);
	color:#796419;
	font-weight: bold();
	&:link, &:visited{
		color:#796419;
	}
	&:hover{
		color:#9d801a !important;
		background: linear-gradient(180deg, #ffee2d, #f7cc04);
	}
	&:active{
		position:relative;
		top:1px;
	}	
}