.sidebar{
	background:#161124;
	color:white;
	position:fixed;
	// max-width:350px;
	top:0px;
	bottom:0px;
	z-index:100;
	@include animate();
}
.sidebar-inner{
	height:100%;

	overflow-y:auto;

	/* Let's get this party started */
	&::-webkit-scrollbar {
		width: 8px;
	}
	 
	/* Track */
	&::-webkit-scrollbar-track {
		-webkit-box-shadow: none; 
		border-radius: 10px;
	}
	 
	/* Handle */
	&::-webkit-scrollbar-thumb {
		-webkit-border-radius: 10px;
		border-radius: 10px;
		background: lighten(#5e5774,10%); 
		// -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
	}
	&::-webkit-scrollbar-thumb:window-inactive {
		background: fade-out(#5e5774,0.3); 
	}
}
.sidebar-content{
	padding: 20px;
	&, p, ul, ol, code{
		color: white(0.6);
		font-size: 15px;
		line-height: 1.6;
	}
	h1, h2, h3, h4, h5, h6{
		color: white(0.9);
	}
	code{
		background: white(0.2);
	}
}
.sidebar-toggle{
	display:block;
	height:40px;
	width:40px;
	position:absolute;
	right:-40px;
	top:0px;
	@include animate();
	background:fade-out(#161124, 0.8) url('/images/menu.svg') center center no-repeat;
	background-size:24px 24px;
	&:hover{
		background-color:fade-out(#161124, 0.5);
	}
}

// TOC

.toc{
	width:270px;
	left:-270px;
	.sidebar-toggle{
		@include hide-text;
	}
	ul{
		list-style-type:none;
		margin:0;
		padding:20px;
	}
	li{
		margin:0;
		font-size:14px;
		border-bottom:1px dotted fade-out(white, 0.8);
		overflow:hidden;
		@include animate(background-color);
		&:hover{
			background:white(0.05);
		}
		span{
			color:white(0.2);
			float:right;
			display:block;
			padding:6px 3px 6px 0px;
		}
		a{
			padding:6px 0px;
			display:block;
			color:lighten($link,10%);
			font-weight:medium();
			margin-right:20px;
			@include animate(all);
			&:visited{
				color:lighten($link,10%);
			}
			&:hover{
				color:$hover;
			}
		}
		&.active a{
			color:$hover;
			&:before{
				content: "\276f";
				display:inline-block;
				margin-right:2px;
			}
		}
	}
}
.toc-open{
	.toc{
		left:0px;
		z-index:1000;
		.sidebar-toggle{
			background-color:#161124;			
		}
	}
	@include medium{
		.layout{
			margin-left: 270px;
			// @include translate(270px, 0px);
			// left:150px;	
		}
	}
}

// Comments

.comments{
	@include small{
		width: 90%;
		// max-width: 400px;
		left: -90%;
	}
	@include medium{
		width:400px;
		left: -400px;
	}
	z-index:110;
	background:$light-bg;
	#disqus_thread{
		padding:20px;
	}
	.sidebar-toggle{
		top:40px;
		background:fade-out(#161124, 0.8) url('/images/comment.svg') center center no-repeat;
		background-size:24px 24px;
		color:white;
		text-align:center;
		text-overflow:clip;
		font-size:11px;
		line-height:36px;
		// padding:0 15px;
		// width:10px;
		overflow:hidden;
	}
}
.comments-open{
	.comments{
		left:0px;
		z-index:1000;
		.sidebar-toggle{
			background-color:$light-bg;			
		}
	}
	@include medium{
		.layout{
			margin-left: 400px;
			// @include translate(400px, 0px);
		}
	}
}

// Vocabulary

.vocabulary{
	width:300px;
	left:-300px;
	h3{
		font-size: 18px;
		margin-bottom: 10px;
	}
	.sidebar-toggle{
		@include hide-text;
		top: 80px;
		background:fade-out(#161124, 0.8) url('/images/vocabulary.svg') center center no-repeat;
		background-size:24px 24px;
	}
	h4{
		cursor: pointer;
		border-top:1px dotted fade-out(white, 0.8);
		overflow:hidden;
		padding:6px 0px;
		color:lighten($link,10%);
		font-weight:medium();
		@include animate(all);
		margin-bottom: 0;
		&:hover{
			background:white(0.05);
		}
		&.active{
			color:$hover;
			margin-bottom: 10px;
		}
	}
	p{
		margin-bottom: 10px
	}
}
.vocabulary-open{
	.vocabulary{
		left: 0px;
		z-index: 1000;
		.sidebar-toggle{
			background-color:#161124;			
		}
	}
	@include medium{
		.layout{
			margin-left: 300px;
		}
	}
}
.sidebar-block{
	.purchase, .upgrade{
		.prompt-option{
			margin-bottom: 10px;
		}
	}
}